{{- define "main" }}
<div class="bg-white m-2 mt-3 p-5 shadow-lg rounded-sm">
    <h3 class="font-bold text-indigo-900">Welcome to My Personal Website!</h3>
    {{.Content}}
</div>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
    {{ range  .Site.RegularPages }}
    {{- partial "card.html" . -}}
    {{- end }}
</div>
{{ end }}
