<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body class="bg-gray-200 grid text-gray-900">
        {{- block "header" . }}
        {{- partial "header.html" . -}}
        {{- end }}
        
    {{- block "nav" . -}}
        {{- partial "nav.html" -}} 
        {{- end -}}
        <main>
            {{- block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{- end }}
        </main>
        <aside>
            {{- block "aside" . }}
            {{- end }}
        </aside>
        {{- block "footer" . }}
        {{- partial "footer.html" . -}}
        {{ end -}}
    </body>
</html>
