{{ define "main" }}
<div class="text-center">
    <h1>{{ .Title }}</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
        {{ range .Pages.ByPublishDate }}
        {{- partial "card.html" . -}}
        {{ end }}
    </div>
</div>
{{ end }}
 
