{{ define "main" }}
<div class="bg-white border-l-8 p-5 shadow-lg rounded-sm">
    <h1>{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02" }}" class="text-gray-500">{{ .Date.Format "2006-01-02" }}</time>
    {{- partial "tags-and-categories.html" . -}}
    <article>
        {{ .Content }}
    </article>
    <div>
        <ul class="flex justify-between">
            <li>{{with .NextInSection}}<a href=" {{.Permalink}}">新しい記事</a>{{end}}</li>
            <li>{{if .PrevInSection}}<a href=" {{.Previnsection.Permalink}}">古い記事</a>{{end}}</li>
        </ul>
        {{- partial "related.html" . -}}
    </div>
</div>
{{ end }}

{{ define "aside" }}
{{- partial "table-of-contents.html" . -}}
{{ end }}
