@tailwind base;
article {
    @apply leading-relaxed;
    @apply tracking-wider;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

pre {
    @apply overflow-x-auto;
    @apply whitespace-pre-wrap;
}

body {
    display: grid;
    grid-template-areas:
	      "header header  header"
            "nav    main    aside"
	          "footer footer    footer";
    grid-template-columns: 1fr 801px 1fr;
    grid-template-rows: auto 1fr auto;
}

header { grid-area: header; }
nav    { grid-area: nav;    }
main   { grid-area: main;   }
aside  { grid-area: aside;  }
footer { grid-area: footer; }

main {
    @apply p-3;
}

article {
    @apply text-justify;
}

.sammary {
    >  h2 {
        @apply text-sm;
    }
}

@media (min-width: 801px) {
    body {
        @apply min-h-screen;
    }

    nav {
        @apply p-3;
    }

    aside {
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media (max-width: 800px) {
    body {
	      grid-template-areas:
	          "header"
                "nav"
	              "main"
                "aside"
	              "footer";
	      grid-template-columns: 1fr;
	      grid-template-rows:	 auto auto auto 2fr auto;
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(1rem, auto);
    }
}

@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i&display=swap');
@import "components/all.css";
