<section class="bg-white border-t-8 border-indigo-900 flex flex-col  m-2 mt-3 p-3 shadow-lg rounded-sm">
    <a href="{{ .Permalink }}">
        <header>
            {{- .Title -}}{{- if .Draft -}} #Draft{{- end -}}
        </header>
        <time class="text-xs" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    </a>
    <a href="{{ .Permalink }}">
        <article class="text-xs text-gray-800">
            {{- $eyecatch := findRE "<img.*?src=([^>]*)?>" .Content 1 -}}
            {{- if $eyecatch -}}
            {{- range $eyecatch -}}
            {{- . | safeHTML -}}
            {{- end -}}
            {{- else -}}
            {{- .Summary | replaceRE "^<h.*>(.*?)</h.>" "<p>$1</p>"  | safeHTML -}}
            {{- end -}}
        </article>
    </a>
</section>
