<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $options := dict "inlineImports" true -}}
    {{- $isProd :=  eq hugo.Environment "production" -}}
    {{- $styles := resources.Get "css/styles.css" -}}
    {{- $styles = $styles | resources.PostCSS $options -}}
    {{- if $isProd -}}
    {{- $styles = $styles | minify | fingerprint -}}
    {{- end }}
    <link href="{{ $styles.RelPermalink }}" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css" />
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} &ndash; {{ .Site.Title }}{{ end }}
    </title>
</head>
