<div class="p-2">
  {{ with .Params.categories }}
  {{ range . }}
  <a href="/{{ . }}/"><button class="border border-purple-600 hover:bg-purple-600 hover:text-white px-3 rounded-full">{{ . }}</button></a>
  {{ end }}
  {{ end }}
  {{ with .Params.tags }}
  {{ range . }}
  <a href="/tags/{{ . }}/"><button class="border border-yellow-600 hover:bg-yellow-600 hover:text-white px-3 rounded-full">{{ . }}</button></a>
  {{ end }}
  {{ end }}
</div>
